<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="lib/phpunit/phpunit.xsd"
    bootstrap="../../lib/phpunit/bootstrap.php"
    processIsolation="false"
    backupGlobals="false"
    cacheResult="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    beStrictAboutOutputDuringTests="true"
    >
  <testsuites>
    <testsuite name="block_qrcode_testsuite">
      <directory suffix="_test.php">tests</directory>
    </testsuite>
  </testsuites>
  <source ignoreIndirectDeprecations="true"
          restrictNotices="true"
          restrictWarnings="true">
    <include>
      <directory suffix=".php">classes</directory>
      <directory suffix=".php">tests/generator</directory>
    </include>
    <exclude>
      <directory>thirdparty</directory>
    </exclude>
  </source>
</phpunit>
