.block_qrcode #fitem_slc_format .fitemtitle,
.block_qrcode #fitem_slc_size .fitemtitle {
    width: 0;
    text-align: left;
}


.block_qrcode #fitem_slc_format .felement,
.block_qrcode #fitem_slc_size .felement {
    margin-left: 60px;
}

.block_qrcode .fullscreenmodal .modal.show .modal-dialog {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vh;
    height: 100vw;
}

.block_qrcode #fitem_slc_size .felement.col-md-9,
.block_qrcode #fitem_slc_format .felement.col-md-9 {
    /** Boostrap design fix */
    margin-left: 0;
}

.block_qrcode #fitem_id_submitbutton .fsubmit {
    margin: 0;
}

.block_qrcode .mform {
    margin: 0 10px;
}

.block_qrcode .mform > .form-group {
    /** Boostrap design fix */
    margin-left: 0;
}