name: Moodle Plugin CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-ci-workflow:
    name: "CI Workflow"
    uses: learnweb/moodle-workflows-learnweb/.github/workflows/moodle-ci.yml@main
